* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Conv_Roboto-Medium', Sans-Serif, serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.block {
    position: relative;
    border: 2px solid black;
    height: 204px;
    margin: 20px 0;
}

.target {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #bd3232;
}

.trigger {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #4287f5;
    border-color: #4287f5;
}

/*TRANSITION*/

.transition__target {
    top: 0;
    left: 50px;
    transition: top 0.51s linear 0.1s;
}

.trigger:hover + .transition__target {
    top: 150px;
}

/*ANIMATION*/
@keyframes move {
    0% {
        top: 0;
        left: 50px;
        transform: rotate(0deg);
    }

    25% {
        top: 0;
        left: 350px;
        transform: rotate(360deg);
    }

    50% {
        top: 150px;
        left: 350px;
        transform: rotate(720deg);
    }

    75% {
        top: 150px;
        left: 0;
        transform: rotate(1080deg);
    }

    100% {
        top: 50px;
        left: 0;
        transform: rotate(1440deg);
    }
}

.animation {
    width: 404px;
}

.animation__target {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 60px;
    border-radius: 50%;
    animation: move 4s infinite alternate;
}
